  .conta {
            
            display:flex;
            gap :30px;
            margin-bottom:10px;
            margin-top:15px;
            margin-left:10px;
            background-color:teal;
            padding-top:10px;
            }
            .icon {
                width:50px;
                height:50px;
                border-radius:50px;
                
            }
            .txt {
                width:150px;
                height:30px;

            }
            navbar {
                
                margin-left:200px;
            }
            a {
                text-decoration: none;
            }
            h3 {
                font-style:oblique;
            }
            .footer {
                
                background-color: lightgrey;
                color: black;
                width:100%;
                height:20px;
                text-align: center;
                
                bottom: 0; 
            }
            .front {
                border-radius: 10px;
                background-color: gold;
                height:40px;
                cursor:pointer;
                transition:lightpink 0.3s;
                
            }
            button:hover {
                background-color:aqua;
            }
            .frm {
        margin-bottom:10px;
        border-radius:15px;
        padding-left: 20px;
        margin-top:10px;
        padding-top:5px;
        width:45%;
        display:flex;
        gap:50px;
    }
    .box {
        margin-top:20px;
        margin-bottom:20px;
        display:flex;
        gap:20px;
        justify-content: center;
        
        
    }
    img {
        width:170px;
        height:200px;
        cursor:pointer;
        box-shadow: 0 0 3em white;
        transition:transform 0.3s;
    }
    img:hover {
        transform:scale (1.05);
    }
    h3{
        text-align:center;
        font-style:italic;
    }
    .men {
        padding:10px;
        width:170px;
        box-shadow:0 4px 8px grey ;
    }
    .women {
        padding:10px;
        width:170px;
        box-shadow:0 4px 8px grey ;
    }
    .love {
        background-color:pink;
        border-radius:10px;
        cursor:pointer;
        transition:lightblue 0.3s;
    }
    .cart {
        background-color:lightgreen;
        border-radius:10px;
        cursor:pointer;
        transition:lightblue 0.3s;
    }
    .submit {
        background-color:crimson;
        border-radius:10px;
        cursor:pointer;
        transition:lightblue 0.3s;
        color:white;
    }
    .review {
        background-color: lightseagreen;
        margin-bottom:20px;
        border-radius:15px;
        padding-left: 20px;
        margin-top:10px;
        padding-top:15px;
        width:45%;
        display:flex;
        gap:10px;
    }
    .order{
        background-color: rgba(224, 231, 255, 0.722);
        margin-bottom:20px;
        border-radius:15px;
        padding-left: 20px;
        margin-top:20px;
        padding-top:15px;
        width:45%;
        display:flex;
        gap:10px;
    }